<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-md-7 info">
            <a href="https://github.com/julian10decima" target="_blank"><img src="../../../assets/github.png" alt="img"></a>
            <a href="https://www.facebook.com/profile.php?id=100009420363427" target="_blank"><img src="../../../assets/facebook.png" alt="img"></a>
            <a href="https://www.instagram.com/julian10_decima/?hl=es-la" target="_blank"><img src="../../../assets/instagram.png" alt="img"></a>
            <h4 class="fw-light mt-4 text-white">Portfolio de Decima Abregu Martin Julian</h4>
            <p class="lead text-white-50">Trabajo Final del Curso #YoProgamo</p>
            <img src="../../../assets/APLogo.png" id="logoAP" alt="img">
        </div>
    </div>
</div>
<footer id="sticky-footer" class="flex-shrink-0 py-4">
    <div class="container text-center">
        <small>Copyright &copy; Decima Abregu Martin Julian</small>
    </div>
</footer>