<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100" *ngIf="proyecto">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Actualizar Proyecto</h2>
                            <p class="text-white-50 mb-5">Complete todos los campos</p>

                            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="nombreP">Nombre Proyecto</label>
                                    <input type="text" id="nombreP" name="nombreP" [(ngModel)]="proyecto.nombreP" required 
                                    class="form-control form-control-lg" />

                                </div>
                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="fecha">Fecha</label>
                                    <input type="text" id="fecha" name="fecha" [(ngModel)]="proyecto.fecha" required
                                        class="form-control form-control-lg" />

                                </div>

                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="descripcionP">Descripcion</label>
                                    <input type="text" id="descripcionP" name="descripcionP" [(ngModel)]="proyecto.descripcionP" required 
                                    class="form-control form-control-lg" />

                                </div>

                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="urlimgP">Url Imagen</label>
                                    <input type="text" id="urlimgP" name="urlimgP" [(ngModel)]="proyecto.urlimgP" required
                                        class="form-control form-control-lg" />

                                </div>
                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="urlP">Url Proyecto</label>
                                    <input type="text" id="urlP" name="urlP" [(ngModel)]="proyecto.urlP" required
                                    
                                    class="form-control form-control-lg" />

                                </div>

                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Actualizar</button>
                                <!-- <button class="btn btn-danger" routerLink="">Cancelar</button> -->
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
