@import 'https://fonts.googleapis.com/css?family=Libre+Franklin:100,300,400,600,700,900';

.gradient-custom {
  background: #fccb90;
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }

h1 {
  font-weight: 900;
  color: #ff8d00;
}
@media (min-width: 1200px) {
  h1 {
    font-size: 60px;
  }
}
/* -----------------------
  Form 
----------------------- */
.form-control {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #a1a2a3;
}
.form-control:focus {
  box-shadow: none;
}

.form-control,
.form-control:focus,
.form-control:focus:hover {
  color: #ff8d00;
  background: none;
  outline: none;
  
}
.form-control:focus,
.form-control:focus:hover {
  border-bottom: 1px solid #ff8d00;
  
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active { -webkit-box-shadow: 0 0 0 30px rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) inset !important; }

input:-webkit-autofill { -webkit-text-fill-color: #ff8d00 !important; }
