<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100" *ngIf="persona">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Actualizar Persona</h2>
                            <p class="text-white-50 mb-5">Complete todos los campos</p>
                            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="nombre">Nombres</label>
                                    <input type="text" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required class="form-control form-control-lg" />

                                </div>

                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="apellido">Apellidos</label>
                                    <input type="text" id="apellido" name="apellido" [(ngModel)]="persona.apellido" required class="form-control form-control-lg" />

                                </div>

                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="descripcion">Descripcion</label>
                                    <input type="text" id="descripcion" name="descripcion" [(ngModel)]="persona.descripcion" required class="form-control form-control-lg" />

                                </div>

                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="img">Imagen</label>
                                    <input type="file" id="img" name="img" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png, .PNG" class="form-control form-control-lg" />

                                </div>

                                <div class="imagen">
                                    <img [src]="imageService.url" alt="" width="200px">
                                </div>

                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Actualizar</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>