<div class="row">
    <div class="container">
        <div class="logo">
            <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank"><img
                    src="../../../assets/APLogo.png" id="logoAP" alt="img"></a>
        </div>
        <nav>
            <ul>
                <li><a href="#Inicio" data-text="Inicio">Inicio</a></li>
                <li><a href="#Sobremi" data-text="SobreMi">Sobre mi</a></li>
                <li><a href="#ExpeLab" data-text="Experiencia">Experiencia</a></li>
                <li><a href="#Educacion" data-text="Educacion">Educacion</a></li>
                <li><a href="#Hys" data-text="HyS">HyS</a></li>
                <li><a href="#Proyect" data-text="Proyectos">Proyectos</a></li>
            </ul>
        </nav>

        <div class="login">
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Ingreso</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Salir</button>
        </div>
        
    </div>
</div>